.form_button {
	display: block;
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 10px;
	height: 35px;
	border: none;
	cursor: pointer;
	max-width: 170px;
	transition: all 0.3s ease;
}

.form_button:hover {
	transform: scale(1.03);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-link {
	text-decoration: none;
	color: black;
}