.search-filters {
	margin-top: 60px;
	margin-bottom: 60px;
	display: flex;
	justify-content: center;
}

.filters-button {
	border: none;
	outline: none;
	border-radius: 11px;
	background: rgb(254, 254, 254);
	margin-left: 4px;
}

.filters-button img {
	width: 24px;
	margin-top: 2px;
}

.list {
	height: 270px;
	display: flex;
	list-style: none;
	overflow-x: auto;
	position: relative;
	padding-left: 10px;
}

.slider-line {
	margin-bottom: 50px;
}

li {
	margin-right: 10px;
}

.slider-genre {
	font-size: 22px;
	margin-bottom: 10px;
	padding-left: 20px;
	font-family: var(--main-bold-font);
}

.list::-webkit-scrollbar {
	width: 6px;
	height: 4px;
}

.list::-webkit-scrollbar-track {
	background: inherit;
}

.list::-webkit-scrollbar-thumb {
	background-color: rgb(206, 206, 206);
	border-radius: 20px;
}